#python
# time - builtin - PSF licence
# re - builtin - PSF licence?
# subprocess - PSF licence
# sphinx
# argparse - builtin - PSF licence
argparse>=1.4.0
# argparse - builtin - PSF licence
setuptools>=41.0.1
# virtualenv - MIT
virtualenv>=16.6.0
# six - MIT
six>=1.12.0
# pgpy - BSD 3-Clause licensed
#pgpy>=0.4.1
tox>=3.11.1
#py>=1.4.33
pip>=19.1
requests>=2.22
# cryptography - Apache 2
#cryptography>=1.2.3
# pycrypto - MIT
#pycrypto>=2.6.1
urllib3>=1.25.2
# ruamel.yaml - MIT
#ruamel.yaml>=0.14.12
# pyyaml - MIT
#pyyaml>=3.12
#-e git+https://github.com/reactive-firewall/PiAP-python-tools.git#egg=piaplib
# netifaces - MIT
netifaces>=0.10.9
