#sphinx
#argparse
#subprocess
#setuptools
#virtualenv
tox>=2.3.1
#time
#re
#hashlib
#hmac
pyflakes>=1.1.0
flake8>=2.5.4
#-e git+https://github.com/reactive-firewall/PiAP-python-tools.git#egg=piaplib

